.messages {
  overflow: auto;
  flex: auto;
  background-color: #F0EFEA;
}

.teste:last-child{
  margin-bottom: 1rem;
}

.teste:first-child{
  margin-top: 1rem;
}

.hourmessageUser {
  margin-left: 10px;
  color: #57400d;
  text-align: right;
}

.hourmessageRecived {
  margin-right: 10px;
  color: #57400d;
  text-align: left;
}

.messageTextHour {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}