.messageBox {
  background: #F3F3F3;
  border-radius: 0.6rem;
  padding: 1rem 1rem 0;
  color: white;
  display: inline-block;
  max-width: 70%;
  align-self: start;
}

.messageBox-user {
  background: #F3F3F3;
  border-radius: 0.6rem;
  padding: 1rem 1rem 0;
  color: white;
  display: inline-block;
  max-width: 70%;
  align-self: flex-end;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1rem;
  word-wrap: break-word;
  margin: 0rem;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  margin-top: 3px;
  flex-direction: column;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: red;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.colorDark {
  color: #353535;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #57400D;
}

.backgroundBlue {
  background: #57400D;
}

.backgroundLight {
  background: #FFF;
  border: 1px solid #9E9073;
}
