.form {
  display: flex;
  /* border-top: 1px solid red ; */
  padding: 10px;
  background: #FFF;
  height: 55px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #57400d;
  margin: 0 20px 20px 20px;
}

.input {
  border: none;
  border-radius: 0;
  width: 94%;
  border: 2px solid #A89D83;
  height: 55px;
  border-radius: 100px;
  padding: 0 20px;
  font-size: 1.2em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #57400d;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  width: 55px;
  margin-left: 10px;
  border: none;
  background-color: #febe00;
  border-radius: 50%;
  height: 55px;
}

.sendButton:hover {
  background: #c79108;
  cursor: pointer;
}