.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  width: 20vw;
  justify-content: space-between;
  background-color: #ffffff;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.room {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    /* display: none; */
  }
}